<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset=UTF-8">
    <link rel="canonical" href="http://페이지 주소">
    <meta name="description" content="웹페이지 설명 작성"/>
    <meta name="keywords" content="키워드, 키워드..." />
    <meta name="author" content="페이지 작성자" />
    <meta name="copyright" content="저작권자" />
    <meta name="robots" content="index,follow" />
    <meta name="robots" content="All" /> 
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>엘지화학웹진</title>
    <link rel="stylesheet" href="../../assets/css/default.css">
    <link rel="stylesheet" href="../../assets/css/sub.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script> 
    <![endif]-->
    <script src="../../assets/js/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="../../assets/js/common.js"></script>
</head>
<body>
    <!-- wrap -->
    <div id="wrap">
        <!-- content -->
        <div id="content">
            <div class="_wrap">
                <div class="container">
                </div>
            </div>
        </div>
        <!-- // content -->
    </div>
    <!-- // wrap -->
</body>
</html>