@charset "UTF-8";

.search_wrap .container {position: relative; padding-top: 138px;}
.search_wrap .close_btn {position: absolute; right: 0; top: 0; width: 56px; height: 56px; background: #8b8b8b url('../images/sub/ico_close.png') no-repeat center;}
.search_wrap .sch_box {position: relative; margin-bottom: 169px;}
.search_wrap .sch_box .ipt {width: 100%; height: 88px; padding-left: 50px; padding-right: 100px; border: none; border-bottom: 1px solid #b2b2b2; font-size: 40px; }
.search_wrap .sch_box .btn {position: absolute; right: 54px; top: 41px; width: 29px; height: 29px; background: url('../images/sub/ico_sch.png') no-repeat center/contain;}
.sch_box .txt {margin-top: 29px; padding-left: 53px; font-size: 22px; }
.tab_list {display: flex; gap: 60px; margin-bottom: 17px; justify-content: center;}
.tab_list li a {font-size: 22px; }
.tab_list li a em {color: #c00a33;}


.board_list li {margin-bottom: 30px; border: 1px solid #e3e3e3; border-radius: 2vw; overflow: hidden;}
.board_list li a {display: flex;}
.board_list li .img_box {width: 336px; position: relative; height: 271px; overflow: hidden;}
.board_list li .img_box .inner {position: absolute; left: 0; top: 0; width: 100%; height: 100%; font-size: 0;}
.board_list li .img_box .inner img {vertical-align: middle; max-height: 100%; transition: all 0.3s;}
.board_list li .img_box .inner::after {display: inline-block; content: ''; width: 0; height: 100%; vertical-align: middle;}
.board_list li .txt_box {position: relative; width: calc(100% - 336px); padding: 38px 64px;}
.board_list li .txt_box .ttl {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 26px; font-weight: 500; }
.board_list li .txt_box .info {position: absolute; left: 64px; bottom: 33px; font-size: 0;}
.board_list li .txt_box .info span {display: inline-block; font-size: 18px; font-weight: 300; color: #898989; vertical-align: middle;}
.board_list li .txt_box .info span::after {display: inline-block; content: ''; width: 1px; height: 16px; margin: -3px 27px 0; background-color: #898989; vertical-align: middle;}
.board_list li .txt_box .info span:last-child::after {display: none;}
.board_list li:hover .img_box .inner img {transform: scale(1.1);}


.news_wrap .container {max-width: 1116px;}
.news_wrap .section1 {margin-bottom: 21px; font-size: 0;}
.news_wrap .section2 {position: relative; display: flex; min-height: 518px; margin-bottom: 90px; align-items: center; padding-left: 322px; background: #eee;}
.news_wrap .section2::before {display: inline-block; content: ''; position: absolute; left: 0; top: 0; width: 322px; height: 100%; background: url('../images/sub/img_news02.jpg') no-repeat 0 0/cover;}
.news_wrap .section2 .list {padding: 20px 57px;}
.news_wrap .section2 .list > li {position: relative; padding-left: 34px; line-height: 1.7; font-size: 20px; font-weight: 500; }
.news_wrap .section2 .list > li:not(:last-child) {margin-bottom: 34px;}
.news_wrap .section2 .list > li::before {display: inline-block; content: ''; position: absolute; left: 0; top: 13px; width: 8px; height: 5px; background-color: #b06666;}
.news_wrap .section2 .list > li ul li {font-weight: 300;}


.sub_content .each {max-width: 800px; margin: 0 auto 90px; }
.sub_content .each .ttl {line-height: 1.3; margin-bottom: 30px; font-size: 26px; font-weight: 500; letter-spacing: -0.05em;}
.sub_content .each .txt {line-height: 1.7; font-size: 20px; font-weight: 300; letter-spacing: -0.05em;}
.sub_content .each .txt2 {font-size: 26px; letter-spacing: -0.05em;}


.message_wrap .container {max-width: 1116px;}
.message_wrap .section1 {margin-bottom: 57px;}
.message_wrap .sub_content .each .txt {text-transform: uppercase;}


.swiper_box {position: relative; max-width: 892px; margin: 0 auto; padding: 0 46px 39px; margin-bottom: 95px;}
.swiper_box .swiper .swiper-slide a {display: block; padding-bottom: 55.62%; position: relative;}
.swiper_box .swiper .swiper-slide a img {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.swiper_box .swiper .swiper-slide a .inner {position: absolute; left: 15.62%; top: 22.5%;}
.swiper_box .swiper .swiper-slide a .t1 {margin-bottom: 5px; color: #dd4194; font-size: 22px;}
.swiper_box .swiper .swiper-slide a .t2 {margin-bottom: 20px; font-size: 32px; font-weight: 700; }
.swiper_box .swiper .swiper-slide a .t3 {display: inline-block; min-width: 113px; height: 33px; line-height: 33px; border-radius: 33px; padding-right: 22px; text-align: center; color: #fff; font-size: 14px; font-weight: 700; background: #7c3d90 url('../images/sub/ico_arr.png') no-repeat right 5px center;}
.swiper_box .swiper-button-next, .swiper_box .swiper-button-prev {width: 92px; height: 93px; border-radius: 50%; box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1); margin-top: 0; transform: translateY(-50%);}
.swiper_box .swiper-button-next::after, .swiper_box .swiper-button-prev::after {display: none;}
.swiper_box .swiper-button-prev {left: 0; background: #fff url('../images/sub/ico_prev.png') no-repeat center;}
.swiper_box .swiper-button-next {right: 0; background: #fff url('../images/sub/ico_next.png') no-repeat center;}
.swiper_box .swiper-pagination {bottom: 0;}
.swiper_box .swiper-pagination .swiper-pagination-bullet {width: 24px; height: 25px; line-height: 25px; margin: 0 8px; background-color: #f1f1f1; opacity: 1; font-size: 14px; font-weight: 500; color: #ccc;}
.swiper_box .swiper-pagination .swiper-pagination-bullet-active {background-color: #a186be; color: #fff;}


.kamz_wrap .container {max-width: 1116px;}
.kamz_wrap .section1 {margin-bottom: 92px;}
.kamz_wrap .sub_content .each .ttl {margin-bottom: 5px;}
.kamz_wrap .sub_content .each .txt + .ttl {margin-top: 35px;}
.kamz_wrap .swiper_box .swiper .swiper-slide a {padding-bottom: 0;}
.kamz_wrap .swiper_box .swiper .swiper-slide a img {position: static;}
.kamz_wrap .swiper_box .swiper-pagination .swiper-pagination-bullet-active {background-color: #e77ab3;}


.top_title_box {position: relative; margin-bottom: 65px;}
.top_title_box .ttl {padding-left: 3px; padding-bottom: 54px; border-bottom: 1px solid #d6d6d6; font-size: 50px; color: #444; text-transform: uppercase;}
.top_title_box .category {display: flex; position: absolute; right: 0; top: 29px; align-self: center;}
.top_title_box .category > li a {font-size: 20px; color: #444;}
.top_title_box .category > li.active a {font-weight: 500;}
.top_title_box .category > li::after {display: inline-block; content:''; width: 2px; height: 18px; margin: 0 20px; margin-top: -3px; background-color: #444; vertical-align: middle;}
.top_title_box .category > li:last-child::after {display: none;}


.thumb_wrap {padding-top: 121px;}
.thumb_wrap .thumb_list {display: flex; flex-wrap: wrap; gap: 2.99%;}
.thumb_wrap .thumb_list > li {width: 31.3%; box-shadow: 14px 14px 50px 0px rgba(0, 0, 0, 0.1); border-radius: 2.21vw; overflow: hidden;}
.thumb_wrap .thumb_list > li:nth-child(n+4) {margin-top: 2.99%;}
.thumb_wrap .thumb_list > li a {display: block;}
.thumb_wrap .thumb_list > li .img_box {position: relative; padding-bottom: 90.42%; overflow: hidden;}
.thumb_wrap .thumb_list > li .img_box .inner {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.thumb_wrap .thumb_list > li .img_box .inner::after {display: inline-block; content: ''; width: 0; height: 100%; vertical-align: middle;}
.thumb_wrap .thumb_list > li .img_box .inner img {vertical-align: middle; max-height: 100%; transition: all 0.3s;}
.thumb_wrap .thumb_list > li .txt_box {position: relative; min-height: 227px; padding: 24px 36px;}
.thumb_wrap .thumb_list > li .txt_box .ttl {display: -webkit-box; line-height: 1.3em; max-height: 3.9em; -webkit-line-clamp: 3; -webkit-box-orient: vertical; font-size: 26px; font-weight: 500; overflow: hidden;}
.thumb_wrap .thumb_list > li .txt_box .date {position: absolute; left: 36px; bottom: 30px; font-size: 18px; font-weight: 300; color: #898989;}
.thumb_wrap .thumb_list > li:hover .img_box .inner img {transform: scale(1.1);}


.pagenation_box {margin-top: 110px; text-align: center; font-size: 0;}
.pagenation_box a {display: inline-block; width: 45px; height: 46px; line-height: 46px; margin: 0 4px; border: 1px solid #c3c3c3; font-size: 17px; font-weight: 500; color: #acacac; text-align: center;}
.pagenation_box a.active {background-color: #969696; color: #fff;}


.board_wrap {padding-top: 121px;}
.board_wrap .btn_box {margin-top: 100px; text-align: center;}
.board_wrap .btn_box .more_btn {display: inline-block; width: 235px; height: 86px; line-height: 86px; border: 1px solid #c3c3c3; font-size: 22px; font-weight: 500; color: #979797;}


.comment_box * {letter-spacing: -0.04em;}
.comment_box .comment_form {position: relative; padding: 42px 73px 49px 66px; border: 1px solid #d7d7d7; background-color: #fafafa;}
.comment_box .comment_form .comment_count {margin-bottom: 28px; font-size: 20px; font-weight: 500; color: #252525;}
.comment_box .comment_form .comment_count .count {color: #00aeef;}
.comment_box .comment_form .sort_list {position: absolute; right: 73px; top: 48px; font-size: 0;}
.comment_box .comment_form .sort_list > li {display: inline-block;}
.comment_box .comment_form .sort_list > li:not(:last-child)::after {display: inline-block; content: 'l'; margin: 0 18px; font-size: 16px; color: #252525;}
.comment_box .comment_form .sort_list > li a {font-size: 16px; color: #252525;}
.comment_box .comment_form .sort_list > li.active a {font-weight: 500; color: #00aeef;}
.comment_box .comment_form .inner {position: relative; padding-right: 100px; font-size: 0;}
.comment_box .comment_form .inner textarea {width: 100%; max-height: 61px; padding: 20px 29px; padding-right: 120px; font-size: 16px; border: 1px solid #d7d7d7; background-color: #fff;}
.comment_box .comment_form .inner textarea::placeholder {color: #a1a1a1;}
.comment_box .comment_form .inner .ico_box {position: absolute; right: 100px; top: 50%; margin-right: 31px; transform: translateY(-50%);}
.comment_box .comment_form .inner .ico_box .emoji {display: inline-block; width: 25px; height: 25px; background: url('../images/sub/ico_emoji.png') no-repeat center/contain; vertical-align: middle; margin-right: 11px;}
.comment_box .comment_form .inner .ico_box .camera {display: inline-block; width: 28px; height: 21px; background: url('../images/sub/ico_camera.png') no-repeat center/contain; vertical-align: middle;}
.comment_box .comment_form .inner .submit_btn {position: absolute; right: 0; top: 0; width: 100px; height: 100%; background-color: #9e9e9e; font-size: 16px; font-weight: 500; color: #fff;}
.comment_box .comment_form .admin_ipt {display: none;}
.comment_box .comment_form .admin_ipt + .admin_label {display: inline-block; margin-top: 18px; font-size: 16px; font-weight: 300; color: #252525; cursor: pointer;}
.comment_box .comment_form .admin_ipt + .admin_label::after {display: inline-block; content: ''; width: 18px; height: 18px; line-height: 18px; margin-left: 5px; margin-top: -1px; text-align: center; border: 1px solid #d7d7d7; background-color: #fff; vertical-align: middle;}
.comment_box .comment_form .admin_ipt:checked + .admin_label::after {content: '✔';}
.comment_box .comments_txt {margin-top: 18px; padding: 0 68px; border-top: 1px solid #d7d7d7;}
.comment_box .comments_txt .comment_list > li {position: relative; padding: 38px 0 10px; border-bottom: 1px solid #d7d7d7;}
.comment_box .comments_txt .comment_list > li .name {float: left; margin-bottom: 5px; font-size: 16px; color: #252525;}
.comment_box .comments_txt .comment_list > li .name span {padding-left: 10px; color: #9e9e9e; font-weight: 300;}
.comment_box .comments_txt .comment_list > li .name span:first-of-type {padding-left: 20px;}
.comment_box .comments_txt .comment_list > li .date {margin-bottom: 32px; float: right; color: #9e9e9e; font-size: 12px; font-weight: 300;}
.comment_box .comments_txt .comment_list > li > .date {margin-right: 70px;}
.comment_box .comments_txt .comment_list > li > .txt {padding-right: 70px;}
.comment_box .comments_txt .comment_list > li .date span {padding-right: 8px;}
.comment_box .comments_txt .comment_list > li .date span:last-of-type {padding-right: 25px;}
.comment_box .comments_txt .comment_list > li .date .btn {display: inline-block; color: #252525;}
.comment_box .comments_txt .comment_list > li .date .btn:not(:last-of-type) {margin-right: 20px;}
.comment_box .comments_txt .comment_list > li .txt {clear: both; line-height: 1.6; font-size: 16px; font-weight: 300; color: #252525;}
.comment_box .comments_txt .comment_list > li .reply_btn {display: inline-block; min-width: 69px; height: 27px; line-height: 25px; margin-top: 25px; padding: 0 5px; border: 1px solid #9e9e9e; text-align: center; font-size: 14px; color: #9e9e9e;}
.comment_box .comments_txt .comment_list > li .reply_btn::before {display: inline-block; content: ''; width: 10px; height: 9px; margin-right: 8px; background: url('../images/sub/ico_arr_down.png') no-repeat center/contain; vertical-align: middle;}
.comment_box .comments_txt .comment_list > li > .emoji_box {margin-right: 70px; margin-top: 25px;}
.comment_box .comments_txt .comment_list > li .emoji_box {float: right;}
.comment_box .comments_txt .comment_list > li .emoji_box a {display: inline-block; min-width: 69px; height: 27px; line-height: 25px; padding: 0 6px; text-align: center; border: 1px solid #9e9e9e; font-size: 14px; color: #191919;}
.comment_box .comments_txt .comment_list > li .emoji_box a::before {display: inline-block; content: ''; width: 19px; height: 18px; margin-top: -2px; margin-right: 8px; vertical-align: middle;}
.comment_box .comments_txt .comment_list > li .emoji_box .btn1::before {background: url('../images/sub/ico_emoji02.png') no-repeat center/contain;}
.comment_box .comments_txt .comment_list > li .emoji_box .btn2::before {background: url('../images/sub/ico_emoji03.png') no-repeat center/contain;}
.comment_box .comments_txt .comment_list > li .reply_area {clear: both; border-top: 1px solid #d7d7d7; margin-top: 30px;}
.comment_box .comments_txt .comment_list > li .reply_area .reply_list > li {padding: 30px 68px; background: url('../images/sub/ico_reply.png') no-repeat 33px 26px;}
.comment_box .comments_txt .comment_list > li .reply_area .reply_list > li:not(.form)::after {display: block; content:''; clear: both;}
.comment_box .comments_txt .comment_list > li .reply_area .reply_list > li.form {background-position: 33px 51px;}
.comment_box .comments_txt .comment_list > li .reply_area .reply_list > li:not(:last-child) {border-bottom: 1px solid #d7d7d7;}
.comment_box .comments_txt .comment_list > li .reply_area .reply_list > li .comment_form {border: none; background-color: #fff; padding: 0;}


.recommendation_box {margin-top: 147px;}
.recommendation_box .title {margin-bottom: 37px; text-align: center; font-size: 44px; font-weight: 500; color: #191919;}
.recommendation_box .img_list {display: flex; gap: 34px;}
.recommendation_box .img_list > li {width: 100%; }
.recommendation_box .img_list > li a {display: block;}
.recommendation_box .img_list > li .img_box {position: relative; padding-bottom: 89%; margin-bottom: 39px; border-radius: 30px; overflow: hidden;}
.recommendation_box .img_list > li .img_box .inner {position: absolute; left: 0; top: 0; width: 100%; height: 100%; font-size: 0;}
.recommendation_box .img_list > li .img_box .inner::after {display: inline-block; content: ''; width: 0; height: 100%; vertical-align: middle;}
.recommendation_box .img_list > li .img_box .inner img {max-height: 100%; transition: all 0.3s;}
.recommendation_box .img_list > li a:hover .img_box .inner img {transform: scale(1.1);}
.recommendation_box .img_list > li .txt_box {text-align: center;}
.recommendation_box .img_list > li .txt_box .sort {letter-spacing: 0; margin-bottom: 20px; text-transform: uppercase; font-size: 18px; font-weight: 300; color: #00aeef;}
.recommendation_box .img_list > li .txt_box .txt {font-size: 26px; height: 3.9em; font-weight: 500; line-height: 1.3; color: #191919; letter-spacing: -0.05em; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
.recommendation_box .img_list.small {gap: 15px; margin-top: 80px;}
.recommendation_box .img_list.small > li .img_box {margin-bottom: 18px;}
.recommendation_box .img_list.small > li .txt_box .sort {margin-bottom: 10px; font-size: 14px; color: #c10b34;}
.recommendation_box .img_list.small > li .txt_box .txt {font-size: 20px;}


.sub_top_box {display: flex; height: 325px; margin-bottom: 31px; text-align: center; align-items: center;}
.sub_top_box.bg_blue {margin-bottom: 105px; background-color: #6699cc; color: #fff;}
.sub_top_box .menu {margin-bottom: 33px; font-size: 18px; font-weight: 300;}
.sub_top_box .ttl {font-size: 45px; font-weight: 500; line-height: 1.29;}
.sub_top_box .txt {margin-top: 20px; font-size: 18px; font-weight: 300; color: #898989;}
.sub_top_box .info {margin-top: 32px; font-size: 0;}
.sub_top_box .info span {padding: 0 30px; font-size: 18px; font-weight: 300;}


.board_top {overflow: hidden; margin-bottom: 19px;}
.board_top .write_btn {float: left; display: inline-block; min-width: 135px; height: 50px; line-height: 48px; padding: 0 5px; border: 1px solid #9e9e9e; font-size: 18px; font-weight: 500; color: #191919; text-align: center;}
.board_top .sch_box {position: relative; float: right;}
.board_top .sch_box select {min-width: 135px; height: 50px; padding-right: 30px; border: 1px solid #9e9e9e; background: url('../images/sub/ico_arr_down02.png') no-repeat right 17px center; appearance: none; text-align: center; font-size: 18px; font-weight: 500; color: #191919;}
.board_top .sch_box input {min-width: 385px; height: 50px; padding: 0 50px 0 30px; border: 1px solid #9e9e9e; font-size: 18px;}
.board_top .sch_box input::placeholder {font-weight: 300; color: #9e9e9e;}
.board_top .sch_box .sch_btn {display: inline-block; position: absolute; right: 0; top: 50%; width: 50px; height: 49px; transform: translateY(-50%); background: url('../images/sub/ico_sch02.png') no-repeat center;}
.board_tbl {border-top: 1px solid #9e9e9e; table-layout: fixed;}
.board_tbl thead {background-color: #f7f7f7; border-bottom: 1px solid #9e9e9e;}
.board_tbl thead th {height: 58px; font-size: 16px; color: #9e9e9e;}
.board_tbl tbody tr {border-bottom: 1px solid #9e9e9e;}
.board_tbl tbody td {height: 128px; padding: 0 5px; text-align: center; font-size: 20px; font-weight: 300; color: #191919;}
.board_tbl tbody td.num {color: #00aeef;}
.board_tbl tbody td.ttl {text-align: left; font-size: 26px; font-weight: 300;}
.board_tbl tbody td.ttl a {display: inline-block; max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.pagination {position: relative; text-align: center; padding: 63px 0;}
.pagination .write_btn {position: absolute; left: 0; top: 0; display: inline-block; min-width: 135px; height: 50px; line-height: 48px; padding: 0 5px; border: 1px solid #9e9e9e; font-size: 18px; font-weight: 500; color: #191919; text-align: center;}
.pagination a:not(.write_btn) {display: inline-block; width: 20px; height: 19px; margin: 0 5px; vertical-align: middle; font-size: 20px; font-weight: 300; color: #3c3c3c;}
.pagination a:not(.write_btn).active {color: #e00075; font-weight: 700;}
.pagination .page_arrow {width: 19px; font-size: 0;}
.pagination .page_arrow.prev {margin-right: 50px;}
.pagination .page_arrow.next {margin-left: 50px;}

.board_write_wrap .ttl_box {display: flex; height: 128px; border: 1px solid #9e9e9e; border-width: 1px 0 1px 0; align-items: center;}
.board_write_wrap .ttl_box dt {width: 98px; text-align: center; font-size: 20px; font-weight: 300; color: #191919;}
.board_write_wrap .ttl_box dd {width: calc(100% - 98px); padding: 0 26px;}
.board_write_wrap .ttl_box dd input {border: none; width: 100%; font-size: 26px; outline: none;}
.board_write_wrap .ttl_box dd input::placeholder {color: #9e9e9e;}
.board_write_wrap .text_style {display: flex; height: 68px; margin-bottom: 50px; border-bottom: 1px solid #9e9e9e; align-items: center;}
.board_write_wrap .text_style > li {display: flex; position: relative; width: 25%; justify-content: center; align-items: center;}
.board_write_wrap .text_style > li:not(:last-child)::after {content: ''; position: absolute; right: 0; top: 50%; width: 1px; height: 30px; transform: translateY(-50%); background-color: #9e9e9e;}
.board_write_wrap .text_style > li.type1 {gap: 30px;}
.board_write_wrap .text_style > li.type2 {gap: 30px;}
.board_write_wrap .text_style > li.type3 {gap: 25px;}
.board_write_wrap .text_style > li.type4 {}
.board_write_wrap .text_style > li select {min-width: 90px; padding: 0 20px 0 10px; border: none; appearance: none; background: url('../images/sub/ico_arr_down02.png') no-repeat right center; font-size: 18px; color: #191919; outline: none;}
.board_write_wrap .text_style > li a {display: inline-block; vertical-align: middle; font-size: 0;}
.board_write_wrap .text_style > li a:last-child {margin-right: 0;}
.board_write_wrap .text_style > li .img_btn {position: relative; padding-left: 44px; font-size: 18px; color: #191919;}
.board_write_wrap .text_style > li .img_btn::before {display: inline-block; content: ''; position: absolute; left: 0; top: 50%; width: 27px; height: 27px; background: url('../images/sub/ico_write010.png') no-repeat center/contain; transform: translateY(-50%);}
.board_write_wrap .text_box {border: 1px solid #9e9e9e; font-size: 0;}
.board_write_wrap .text_box textarea {border: none; padding: 50px; width: 100%; min-height: 1006px; font-size: 22px; outline: none;}
.board_write_wrap .text_box textarea::placeholder {color: #9e9e9e;}
.board_write_wrap .btn_box {margin-top: 45px; margin-bottom: 100px; text-align: center; font-size: 0;}
.board_write_wrap .btn_box .btn {display: inline-block; min-width: 135px; height: 60px; line-height: 58px; border: 1px solid #9e9e9e; font-size: 18px; font-weight: 500;}
.board_write_wrap .btn_box .btn:not(:last-child) {margin-right: 9px;}
.board_write_wrap .btn_box .btn.bg_grey {background-color: #9e9e9e; color: #fff;}




@media screen and (max-width:991px) {
    .search_wrap .container {padding-top: 79px;}
    .search_wrap .close_btn {top: 23px; right: 22px; width: 26px; height: 26px; background-size: 18px auto;}
    .search_wrap .sch_box {margin-bottom: 51px;}
    .search_wrap .sch_box .ipt {height: 48px; padding-left: 2px; padding-right: 40px; font-size: 24px;}
    .search_wrap .sch_box .btn {right: 2px; top: 16px; width: 20px; height: 20px;}
    .search_wrap .sch_box .txt {margin-top: 12px; padding-left: 3px; font-size: 12px;}
    .search_wrap .tab_list {gap: 18px;}
    .search_wrap .tab_list li a {font-size: 12px;}
    

    .board_list li .img_box {width: 90px; height: 88px;}
    .board_list li .img_box .inner img {width: 100%; height: 100%;}
    .board_list li .txt_box {width: calc(100% - 90px); padding: 12px 13px;}
    .board_list li .txt_box .ttl {font-size: 12px;}
    .board_list li .txt_box .info {left: 13px; bottom: 12px;}
    .board_list li .txt_box .info span {font-size: 10px;}
    .board_list li .txt_box .info span::after {margin: 0 8px; margin-top: -2px; height: 6px;}
    

    .news_wrap .section1 {margin-left: -24px; margin-right: -24px; margin-bottom: 15px;}
    .news_wrap .section1 img {width: 100%;}
    .news_wrap .section2 {margin-left: 19px; margin-right: -24px; padding-left: 0; min-height: inherit;}
    .news_wrap .section2::before {position: absolute; left: -43px; width: 24px; background: #eee;}
    .news_wrap .section2 .list {padding: 39px 24px;}
    .news_wrap .section2 .list > li {font-size: 15px; padding-left: 0;}
    .news_wrap .section2 .list > li:not(:last-child) {margin-bottom: 15px;}
    .news_wrap .section2 .list > li::before {display: none;}
    .news_wrap .section2 .list > li ul li {line-height: 1.3; font-size: 13px;}
    .news_wrap .section2 {margin-bottom: 60px;}


    .sub_content .each {margin-bottom: 75px;}
    .sub_content .each .ttl {margin-bottom: 24px; font-size: 15px;}
    .sub_content .each .txt {font-size: 15px;}
    .sub_content .each .txt2 {font-size: 15px;}


    .message_wrap .section1 {margin-left: -24px; margin-right: -24px; margin-bottom: 51px;}
    .message_wrap .section1 img {width: 100%;}


    .swiper_box {margin-left: -24px; margin-right: -24px; padding: 0 22px 25px; margin-bottom: 52px;}
    .swiper_box .swiper-button-next, .swiper_box .swiper-button-prev {width: 51px; height: 54px; border-radius: 0; color: #fff;}
    .swiper_box .swiper-button-next::after, .swiper_box .swiper-button-prev::after {display: block; font-size: 30px;}
    .swiper_box .swiper-button-prev {background: rgba(183,183,183,0.8);}
    .swiper_box .swiper-button-next {background: rgba(183,183,183,0.8);}
    .swiper_box .swiper-pagination .swiper-pagination-bullet {width: 15px; height: 15px; line-height: 15px; margin: 0 3px; font-size: 10px;}
    .swiper_box .swiper-pagination .swiper-pagination-bullet-active {background-color: #e77ab3;}
    .swiper_box .swiper .swiper-slide a {padding-bottom: 100%;}
    .swiper_box .swiper .swiper-slide a .t1 {font-size: 13px;}
    .swiper_box .swiper .swiper-slide a .t2 {font-size: 19px; margin-bottom: 15px;}
    .swiper_box .swiper .swiper-slide a .t3 {min-width: 70px; height: 20px; line-height: 20px; padding-right: 13px; background-size: 13px; font-size: 10px;}


    .kamz_wrap .section1 {margin-left: -24px; margin-right: -24px; margin-bottom: 51px;}
    .kamz_wrap .section1 img {width: 100%;}


    .top_title_box {margin-bottom: 42px;}
    .top_title_box .ttl {padding-bottom: 12px; margin-bottom: 12px; text-align: center; font-size: 21px;}
    .top_title_box .category {position: static; justify-content: center;}
    .top_title_box .category > li a {font-size: 12px;}
    .top_title_box .category > li::after {height: 10px; width: 1px; margin: 0 10px; margin-top: 1px;}


    .thumb_wrap {padding-top: 45px;}
    .thumb_wrap .thumb_list {gap: 8px; max-width: 563px; margin: 0 auto;}
    .thumb_wrap .thumb_list > li {width: calc(50% - 4px);}
    .thumb_wrap .thumb_list > li:nth-child(n+3) {margin-top: 23px;}
    .thumb_wrap .thumb_list > li .txt_box {min-height: 100px; padding: 15px;}
    .thumb_wrap .thumb_list > li .txt_box .ttl {font-size: 13px;}
    .thumb_wrap .thumb_list > li .txt_box .date {left: 15px; bottom: 12px; font-size: 12px;}


    .pagenation_box {margin-top: 40px;}
    .pagenation_box a {width: 27px; height: 26px; line-height: 26px; font-size: 13px;}


    .board_wrap {padding-top: 45px;}
    .board_wrap .btn_box {margin-top: 39px;}
    .board_wrap .btn_box .more_btn {width: 127px; height: 46px; line-height: 46px; font-size: 13px;}


    .comment_box .comment_form {padding: 23px 22px;}
    .comment_box .comment_form .comment_count {margin-bottom: 12px; font-size: 15px;}
    .comment_box .comment_form .sort_list {top: 23px; right: 22px;}
    .comment_box .comment_form .sort_list > li a {font-size: 12px;}
    .comment_box .comment_form .sort_list > li:not(:last-child)::after {font-size: 12px; margin: 0 12px;}
    .comment_box .comment_form .inner {padding-right: 50px;}
    .comment_box .comment_form .inner textarea {max-height: 63px; font-size: 12px; padding: 15px; padding-right: 80px;}
    .comment_box .comment_form .inner .ico_box {right: 50px; top: 7px; margin-right: 17px; transform: none;}
    .comment_box .comment_form .inner .ico_box .emoji {width: 17px; height: 17px;}
    .comment_box .comment_form .inner .ico_box .camera {width: 19px; height: 14px;}
    .comment_box .comment_form .inner .submit_btn {width: 50px; font-size: 12px;}
    .comment_box .comment_form .admin_ipt + .admin_label {margin-top: 12px; font-size: 12px;}
    .comment_box .comment_form .admin_ipt + .admin_label::after {width: 12px; height: 12px; line-height: 12px;}
    .comment_box .comments_txt {padding: 0 22px;}
    .comment_box .comments_txt .comment_list > li .name {font-size: 14px;}
    .comment_box .comments_txt .comment_list > li .name span {font-size: 12px; padding-left: 8px; color: #252525;}
    .comment_box .comments_txt .comment_list > li .name span:first-of-type {padding-left: 12px;}
    .comment_box .comments_txt .comment_list > li > .date {margin-right: 50px;}
    .comment_box .comments_txt .comment_list > li > .txt {padding-right: 50px;}
    .comment_box .comments_txt .comment_list > li .date {margin-top: 5px; margin-bottom: 25px; font-size: 11px;}
    .comment_box .comments_txt .comment_list > li .date span {padding-right: 6px;}
    .comment_box .comments_txt .comment_list > li .date span:last-of-type {padding-right: 12px;}
    .comment_box .comments_txt .comment_list > li .date .btn:not(:last-of-type) {margin-right: 8px;}
    .comment_box .comments_txt .comment_list > li .txt {font-size: 12px;}
    .comment_box .comments_txt .comment_list > li .reply_btn {min-width: 50px; height: 20px; line-height: 18px; margin-top: 19px; font-size: 11px;}
    .comment_box .comments_txt .comment_list > li .reply_btn::before {width: 7px; height: 6px; margin-right: 5px;}
    .comment_box .comments_txt .comment_list > li .reply_area .reply_list > li {padding: 21px 49px; background-position: 22px 19px; background-size: 11px;}
    .comment_box .comments_txt .comment_list > li .reply_area .reply_list > li.form {background-position: 22px 41px;}
    .comment_box .comments_txt .comment_list > li .emoji_box {margin-top: 19px;}
    .comment_box .comments_txt .comment_list > li > .emoji_box {margin-right: 50px;}
    .comment_box .comments_txt .comment_list > li .emoji_box a {min-width: 50px; height: 20px; line-height: 20px; font-size: 11px;}
    .comment_box .comments_txt .comment_list > li .emoji_box a::before {width: 13px; height: 12px; margin-right: 5px;}


    .recommendation_box {margin-top: 74px;}
    .recommendation_box .title {margin-bottom: 51px; font-size: 21px;}
    .recommendation_box .img_list {display: block; max-width: 400px; margin: 0 auto;}
    .recommendation_box .img_list > li {margin-bottom: 30px;}
    .recommendation_box .img_list > li .img_box {margin-bottom: 14px;}
    .recommendation_box .img_list > li .txt_box .sort {font-size: 14px; margin-bottom: 10px;}
    .recommendation_box .img_list > li .txt_box .txt {font-size: 14px;}
    .recommendation_box .img_list.small {display: none;}


    .board_top {margin-bottom: 7px; text-align: center; font-size: 0;}
    .board_top .write_btn {float: none; min-width: 94px; height: 42px; line-height: 40px; margin-bottom: 54px; font-size: 13px;}
    .board_top .sch_box {float: none;}
    .board_top .sch_box select {min-width: 94px; padding-right: 20px; margin-right: 2px; height: 29px; font-size: 13px; vertical-align: middle; background-size: 8px auto; background-position: right 11px center;}
    .board_top .sch_box input {width: calc(100% - 96px); min-width: auto; height: 29px; padding: 0 32px 0 18px; vertical-align: middle; font-size: 13px;}
    .board_top .sch_box .sch_btn {width: 32px; height: 29px; background-size: 12px;}
    .board_tbl {width: calc(100% + 48px); margin-left: -24px; margin-right: -24px;}
    .board_tbl thead tr,
    .board_tbl tbody tr {display: flex; flex-wrap: wrap; align-items: center; justify-content: center;}
    .board_tbl tbody tr {padding: 0 26px; justify-content: space-between;}
    .board_tbl thead th {height: 40px; font-size: 12px;}
    .board_tbl thead th.num {width: 81px; display: flex; align-items: center; justify-content: center;}
    .board_tbl thead th.ttl {width: calc(100% - 81px);  display: flex; align-items: center; justify-content: center;}
    .board_tbl tbody td {height: 77px; padding: 0; display: flex; align-items: center; font-size: 11px;}
    .board_tbl tbody td.num {width: 55px; justify-content: left; font-size: 12px;}
    .board_tbl tbody td.ttl {width: calc(100% - 55px); justify-content: left; font-size: 15px;}
    .board_tbl tbody td.ttl a {line-height: 1.27; max-height: 2.54em; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal;}
    .board_tbl tbody td.num,
    .board_tbl tbody td.ttl {border-bottom: 1px solid #000;}
    .board_tbl tbody td.num {justify-content: flex-start;}
    .board_tbl tbody td.ttl + td {margin-left: 55px;}
    .board_tbl tbody td:not(.num):not(.ttl) {max-width: 29%; height: 40px; justify-content: center; flex-wrap: wrap;}
    .board_tbl tbody td:not(.num):not(.ttl)::before {content: attr(data-title) ':'; margin-right: 3px;}
    .pagination a:not(.write_btn) {width: auto; height: 14px; font-size: 15px;}
    .pagination {padding: 21px 0 0;}
    .pagination .page_arrow.prev {margin-right: 28px;}
    .pagination .page_arrow.next {margin-left: 28px;}
    .pagination .page_arrow img {height: 100%;}
    .pagination .write_btn {display: block; position: static; width: 94px; min-width: auto; height: 42px; line-height: 40px; margin: 84px auto 54px; font-size: 13px;}


    .sub_top_box {height: 192px; margin-bottom: 0;}
    .sub_top_box:not(.bg_blue) {padding-top: 30px;}
    .sub_top_box.bg_blue {height: 227px; margin-bottom: 61px;}
    .sub_top_box .menu {margin-bottom: 23px; font-size: 14px;}
    .sub_top_box .ttl {font-size: 24px;}
    .sub_top_box .txt {margin-top: 14px; font-size: 14px;}
    .sub_top_box .info {margin-top: 22px;}
    .sub_top_box .info span {position: relative; padding: 0 21px; font-size: 14px;}
    .sub_top_box .info span:not(:last-child)::after {content: ''; position: absolute; right: 0; top: 50%; width: 1px; height: 12px; margin-top: -6px; background-color: #395572;} 


    .board_write_wrap .container {padding: 0;}
    .board_write_wrap .ttl_box {height: 74px;}
    .board_write_wrap .ttl_box dt {display: none;}
    .board_write_wrap .ttl_box dd {width: 100%;}
    .board_write_wrap .ttl_box dd input {text-align: center; font-size: 18px;}
    .board_write_wrap .text_style {margin-bottom: 14px; flex-wrap: wrap; height: auto; padding: 0 27px; justify-content: left;}
    .board_write_wrap .text_style > li {width: 50%; height: 42px; justify-content: left;}
    .board_write_wrap .text_style > li.type1,
    .board_write_wrap .text_style > li.type2 {border-bottom: 1px solid #d7d7d7;}
    .board_write_wrap .text_style > li:not(:last-child)::after {display: none;}
    .board_write_wrap .text_style > li select {min-width: 70px; padding-left: 0; font-size: 13px; background-size: 8px;}
    .board_write_wrap .text_style > li.type2 {gap: 20px;}
    .board_write_wrap .text_style > li.type2 a {text-align: center;}
    .board_write_wrap .text_style > li.type2 a img {max-width: 70%;}
    .board_write_wrap .text_style > li.type3 {gap: 15px;}
    .board_write_wrap .text_style > li.type3 a img {max-width: 70%;}
    .board_write_wrap .text_style > li .img_btn {padding-left: 30px; font-size: 13px;}
    .board_write_wrap .text_style > li .img_btn::before {width: 18px; height: 18px;}
    .board_write_wrap .text_box textarea {min-height: 622px; font-size: 15px;}
    .board_write_wrap .btn_box {margin-top: 35px;}
    .board_write_wrap .btn_box .btn {min-width: 94px; height: 42px; line-height: 40px; font-size: 12px;}
    .board_write_wrap .btn_box .btn:not(:last-child) {margin-right: 5px;}
}

@media screen and (max-width:480px) {
    .board_write_wrap .text_style > li {width: 100%;}
    .board_write_wrap .text_style > li.type3 {border-bottom: 1px solid #d7d7d7;}
}
@media screen and (max-width:360px) {
    .board_tbl tbody td.ttl + td {margin-left: 0;}
}